* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.form-container {
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: center;
  align-content: center;
}

.input-box:hover {
  background-color: whitesmoke;
}

.input-box {
  margin-top: 0.8rem;
  padding: 1rem;
  height: 3rem;
  width: 80%;
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  flex: 1;
  flex-wrap: wrap;
}


.remember-me{
    cursor: text;
}

.remember-me:hover {
  color: darkgray;
}

.sign-link {
  color: rgb(218, 52, 218);
  flex-wrap: wrap;
}

.sign-link:hover {
  color: rgb(247, 127, 247);
}

.forgot {
  text-decoration: none;
  color: rgb(218, 52, 218);
}

.forgot:hover {
  color: rgb(247, 127, 247);
}

.dont-have:hover {
  color: darkgrey;
  cursor: text;
}

button {
  color: white;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0 auto;
  background-color: rgb(115, 115, 240);
  width: 75%;
  align-self: center;
  flex: 1;
}

.label {
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.label:hover {
  color: darkgray;
  cursor: text;
}

h1 {
  text-align: center;
  flex: 1;
  flex-wrap: wrap;
}

h1:hover {
  color: darkgray;
}

.forms {
  padding: 1.5rem;
  background-color: white;
  /* width: 31.25rem; */
  flex-wrap: wrap;
  height: auto;
  flex: 1;
  width: 100%;
  border-bottom: 1px #d4d3d3 solid;
}

.head-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 0 1 auto;
}

.form {
  margin-top: 2rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-content: flex-end;
  padding: 1.5rem;
  background-color: white;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 1 auto;
  height: auto;
  width: auto;
}

.additional-stuff {
  display: flex;

  width: 105%;
  padding: 1rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
  margin: 0 1 auto;
  margin-bottom: 2rem;
  height: auto;
  text-align: left;
  margin-right: 1rem;
  border-bottom: 1px #d4d3d3 solid;
}
