* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #fffbfb; */
}

.logo-1 {
  flex-wrap: wrap;
  flex: 0 1 120px;
}

.container {
  display: flex;

  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  padding: 2rem;
  margin-top: 80px;
  font-size: 1.5rem;
  flex-wrap: wrap;
  flex: 0 1 100%;
  /* padding-bottom: 90px; */
}

.nav-bar {
  padding: 1.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  flex-wrap: wrap;
  flex: 0 1 auto;
  background-color: #fffdfd;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

.button {
  height: 45px;
  width: 7.8rem;
  background-color: #008000;
  color: white;
  font-size: 1rem;
  flex: 0 1 7.8rem;
  flex-wrap: wrap;
}

.nav-link {
  padding: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  border: black 2px solid;
  border-radius: 50px;
  flex-wrap: wrap;
  flex: 0 1 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.01);
}

.links:hover {
  color: darkgray;
}

.links {
  flex-wrap: wrap;
  flex: 1;

  text-decoration: none;
  color: #333;
  font-weight: 600;
  margin: 1rem;
  /* border-bottom: 1px #d4d3d3 solid; */
}

.heading {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  flex-wrap: wrap;
  flex: 1;
  width: auto;
}
h3:hover {
  color: darkgray;
}

.subhead {
  font-size: 1.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  flex-wrap: wrap;
  flex: 1;
  width: 50%;
}

.subhead:hover {
  color: darkgray;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-top: 9px;
  /* padding-bottom: 1rem; */

  font-family: monospace;
  flex: 1;
  display: inline;
}

h2:hover {
  color: darkgray;
}

.card-1 {
  margin: 2rem;
  /* flex: 0 1 auto; */
  padding: 1.5rem;
  width: auto;
  height: 100%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.028);
  margin-bottom: 100px;
  align-self: flex-start;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding: 1rem;
  flex: 1;
  height: 80%;
  width: 100%;
}

.price {
  font-size: 3rem;
  font-weight: 800;
  flex: 0 1 auto;
}

.pricing {
  text-align: center;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding: 10px;
  flex: 0 1 auto;
}

ul {
  text-align: left;
  line-height: 1.2;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2rem;
  flex: 0 1 auto;
}

.I {
  flex-wrap: wrap;
  flex: 0 1 auto;
}

.I:hover {
  color: darkgray;
}

.combo {
  display: inline;
  color: red;
  text-decoration: solid;
  font-style: oblique;
  text-decoration: line-through;
  flex: 0 1 auto;
  flex-wrap: wrap;
  font-family: monospace;
  font-size: 2rem;
  font-weight: 700;
}

.button-2 {
  color: white;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0 auto;

  background-color: rgb(115, 115, 240);
  width: 100%;

  flex: 0 1 auto;

  cursor: pointer;
}

.button-1 {
  color: white;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0 auto;

  background-color: rgb(115, 115, 240);
  width: 100%;

  flex: 0 1 auto;

  cursor: pointer;
}

.lists {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: 20px;
}

/* .ion-icon { 
  /* font-size: 1.5rem;
  margin-top: 5px;
  /* background-color: black; */
/* border-radius: 15px; */
/* color: white; */
/* display: inline-flex;
  align-items: center;
  vertical-align: middle; 
  gap: 20px;
} */

.button-3 {
  color: white;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0 auto;

  background-color: rgb(115, 115, 240);
  width: 100%;

  flex: 0 1 auto;

  cursor: pointer;
}

.first-btn {
  /* background-color: #fffbf5; */
  display: flex;
  /* border: red 2px solid;   */
  padding: 1rem;
  height: 219px;
  align-items: flex-end;
}

.social-icon {
  font-size: 3rem;
  color: black;
  flex: 1;
  cursor: pointer;
}
.social-icon:hover {
  color: gray;
}

.btn-submitreset {
  height: 45px;
  width: 7.8rem;
  background-color: #333;
  color: azure;
  font-size: 1rem;
  margin-top: 1rem;

  flex: 0 1 7.8rem;
}

.copyright {
  font-size: 1.5rem;
  padding: 10px;
  flex: 0 1 auto;
 
  /* height: auto; */
}

.third-btn {
  /* background-color: #fffbf5; */
  display: flex;
  /* border: red 2px solid;  */
  padding: 1rem;
  height: 132px;
  align-items: flex-end;
}

.combo:hover {
  color: pink;
}

.second-btn {
  /* background-color: #fffbf5; */
  display: flex;
  /* border: red 2px solid;  */
  padding: 1rem;
  height: 162px;
  /* justify-content: center; */
  align-items: flex-end;
}

.bottom-bar {
  /* border: #333 solid 3px; */
  padding: 2rem;
  margin-top: 5rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  flex: 0 1 100%;
  flex-direction: row;

  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
